<article class="bb b--black-10">
  <h3>Post le plus récent</h3>
  <div class="db pv4 ph3 ph0-l no-underline dark-gray">
    
    <div class="flex flex-column flex-row-ns">
     
        <div class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3-ns" "pr3-ns" }} mb4 mb0-ns w-100 w-40-ns">
          <a href="{{.RelPermalink}}" class="db grow">
            <img src="{{ .Params.featured_image }}" class="img-viewhome" alt="image from {{ .Title }}">
          </a>
        </div>
     
      <div class="blah w-100  w-60-ns">
        <h1 class="f3 fw1 athelas mt0 lh-title">
          <a href="{{.RelPermalink}}" class="color-inherit dim link">
            {{ .Title }}
            </a>
        </h1>
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
          {{ .Summary }}
        </div>
          <a href="{{.RelPermalink}}">
            <button  class="button-item dark">
              {{ $.Param "read_more_copy" | default (i18n "readMore") }}
            </button>
          </a>
        {{/* TODO: add author
        <p class="f6 lh-copy mv0">By {{ .Author }}</p> */}}
      </div>
    </div>
  </div>
</article>
